@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0 !important;
  }

  .router-link-active {
    background-color: #6b7280;
  }

  .input-label {
    @apply text-sm font-medium leading-none;
  }

  .input-file {
    @apply block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-[#CED4DA] file:text-gray-800 hover:file:bg-gray-400;
  }

  .pagination {
    @apply m-5 flex items-center justify-between text-sm;
  }

  .pagination ul {
    @apply flex text-center list-none;
  }

  .pagination ul li a {
    min-width: 40px;
  }
  .pagination ul li a.pagination-link {
    @apply relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100;
  }

  .pagination ul li a.current {
    @apply relative block rounded bg-blue-100 px-3 py-1.5 text-sm font-medium text-blue-700 transition-all duration-300;
  }

  .pagination ul li a.current span {
    @apply absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 [clip:rect(0,0,0,0)];
  }

  .role.agricultor {
    @apply border-[#E9E9EA] text-[#495057] bg-[#F8F9FA];
  }

  .role.tecnico {
    @apply border-[#DAF4E3] text-[#16A34A] bg-[#F0FDF4];
  }

  .role.administrador,
  .role.super-admin {
    @apply border-[#DDEEF6] text-[#0B88A0] bg-[#E8F7FF];
  }

  .tableContainer {
    @apply mt-8 bg-white shadow-sm ring-1 ring-gray-950/5;
  }

  .tableContainer .inputSearch {
    @apply block w-64 rounded-lg border py-2 pl-10 pr-4 text-sm focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-400;
  }

  .tableContainer table {
    @apply min-w-full text-left text-sm whitespace-nowrap border-t-2;
  }

  .tableContainer table th {
    @apply px-6 py-3 cursor-default;
    vertical-align: top;
  }

  .tableContainer table td {
    @apply px-6 py-3;
  }
}

.p-button.p-component {
  @apply text-sm font-medium transition-colors duration-150 rounded-lg disabled:opacity-75;
}

.p-button.p-component {
  @apply text-white bg-[#f06f38] hover:bg-[#fb9773];
}

.p-button.p-component.p-button-secondary {
  @apply text-[#ed3900] bg-[#fdfdfd] hover:bg-[#fff1e9] hover:text-[#ed3900] border-[#C7C7C7] hover:border-[#C7C7C7];
}

.menu-element.active {
  background: #2C3344;
  color: #F8F9FA;
}

.menu-element svg{
  color: #7B849C;
}

.menu-element.active svg{
  color: #F8F9FA;
}

.menu-element:hover {
  background: #2C3344;
  color: #F8F9FA;
}

.menu-element:hover svg{
  color: #F8F9FA;
}


.swal2-modal .swal2-actions .swal2-deny {
  color: #333 !important;
}
